<div class="container">

  <%= render 'layouts/header'%>


  <div class="row videos">



    <div class="col-sm-3 vid">
      <div class="img">
        <%= image_tag 'm3.jpg', class: :video_cover%>

      </div>

      <div class="caption">

        <%= image_tag 'play.png', class: :play_ico%>

      </div>

      <div class="text">
        <h3>Obama mama</h3>
        <p>Directed by Cameron</p>

      </div>
    </div>


    <div class="col-sm-3 vid">
      <div class="img">
        <%= image_tag 'm4.jpg', class: :video_cover%>

      </div>

      <div class="caption">

        <%= image_tag 'play.png', class: :play_ico%>

      </div>

      <div class="text">
        <h3>Obama mama</h3>
        <p>Directed by Cameron</p>

      </div>
    </div>


    <div class="col-sm-3 vid">
      <div class="img">
        <%= image_tag 'm5.jpg', class: :video_cover%>

      </div>

      <div class="caption">

        <%= image_tag 'play.png', class: :play_ico%>

      </div>

      <div class="text">
        <h3>Obama mama</h3>
        <p>Directed by Cameron</p>

      </div>
    </div>


    <div class="col-sm-3 vid">
      <div class="img">
        <%= image_tag 'm6.jpg', class: :video_cover%>

      </div>

      <div class="caption">

        <%= image_tag 'play.png', class: :play_ico%>

      </div>

      <div class="text">
        <h3>Obama mama</h3>
        <p>Directed by Cameron</p>

      </div>
    </div>
    <div class="col-sm-3 vid">
      <div class="img">
        <%= image_tag 'm7.jpg', class: :video_cover%>

      </div>

      <div class="caption">

        <%= image_tag 'play.png', class: :play_ico%>

      </div>

      <div class="text">
        <h3>Obama mama</h3>
        <p>Directed by Cameron</p>

      </div>
    </div>


    <div class="col-sm-3 vid">
      <div class="img">
        <%= image_tag 'm8.jpg', class: :video_cover%>

      </div>

      <div class="caption">

        <%= image_tag 'play.png', class: :play_ico%>

      </div>

      <div class="text">
        <h3>Obama mama</h3>
        <p>Directed by Cameron</p>

      </div>
    </div>


    <div class="col-sm-3 vid">
      <div class="img">
        <%= image_tag 'm9.jpg', class: :video_cover%>

      </div>

      <div class="caption">

        <%= image_tag 'play.png', class: :play_ico%>

      </div>

      <div class="text">
        <h3>Obama mama</h3>
        <p>Directed by Cameron</p>

      </div>
    </div>


    <div class="col-sm-3 vid">
      <div class="img">
        <%= image_tag 'm11.jpg', class: :video_cover%>

      </div>

      <div class="caption">

        <%= image_tag 'play.png', class: :play_ico%>

      </div>

      <div class="text">
        <h3>Obama mama</h3>
        <p>Directed by Cameron</p>

      </div>
    </div>






  </div>
    </div>



<!--
    <div class="col-sm-6 vid">
        <%= image_tag 'm3.jpg'%>
        <div class="text">
          <h1>GAZA</h1>

          <p>10-2-2005</p>
          <p>Mercy International</p>
        </div>
    </div>

    <div class="col-sm-6 vid">
      <%= image_tag 'm2.jpg'%>
      <div class="text">
        <h1>GAZA</h1>
        <p>10-2-2005</p>
        <p>Mercy International</p>
      </div>
    </div>

    <div class="col-sm-6 vid">
      <%= image_tag 'm3.jpg'%>
      <div class="text">
        <h1>GAZA</h1>
        <p>10-2-2005</p>
        <p>Mercy International</p>
      </div>
    </div>

    <div class="col-sm-6 vid">
      <%= image_tag 'm2.jpg'%>
      <div class="text">
        <h1>GAZA</h1>
        <p>10-2-2005</p>
        <p>Mercy International</p>
      </div>
    </div>

    Here ends the old videos, which is now events-->

  </div>

</div>