<div class="container">

  <%= render 'layouts/header'%>


  <div class="row events">


 <div class="col-sm-6 event">
        <%= image_tag 'm3.jpg'%>
        <div class="text">
          <h1>GAZA</h1>

          <p>10-2-2005</p>
          <p>Mercy International</p>
        </div>
    </div>


    <div class="col-sm-6 event">
      <%= image_tag 'm3.jpg'%>
      <div class="text">
        <h1>GAZA</h1>

        <p>10-2-2005</p>
        <p>Mercy International</p>
      </div>
    </div>

    <div class="col-sm-6 event">
      <%= image_tag 'm3.jpg'%>
      <div class="text">
        <h1>GAZA</h1>

        <p>10-2-2005</p>
        <p>Mercy International</p>
      </div>
    </div>

    <div class="col-sm-6 event">
      <%= image_tag 'm3.jpg'%>
      <div class="text">
        <h1>GAZA</h1>

        <p>10-2-2005</p>
        <p>Mercy International</p>
      </div>
    </div>

</div>

</div>