<div class="container">

 <%= render 'layouts/header'%>


  <div class="grid">
    <div class="grid-sizer"></div>

    <div class="grid-item">

      <%= image_tag 'm1.jpg' %>

    </div>
    <div class="grid-item">
      <%= image_tag 'm2.jpg' %>
    </div>
    <div class="grid-item">
      <%= image_tag 'm3.jpg' %>
    </div>
    <div class="grid-item ">
      <%= image_tag 'm4.jpg' %>
    </div>
    <div class="grid-item">
      <%= image_tag 'm5.jpg' %>
    </div>
    <div class="grid-item">
      <%= image_tag 'm6.jpg' %>
    </div>
    <div class="grid-item">
      <%= image_tag 'm7.jpg' %>
    </div>
    <div class="grid-item ">
      <%= image_tag 'm8.jpg' %>

    </div>
    <div class="grid-item">
      <%= image_tag 'm8.jpg' %>
    </div>
    <div class="grid-item">
      <%= image_tag 'm9.jpg' %>
    </div>
    <div class="grid-item">
      <%= image_tag 'm10.jpg' %>
    </div>
    <div class="grid-item ">
      <%= image_tag 'm11.jpg' %>
    </div>
    <div class="grid-item ">
      <%= image_tag 'm1.jpg' %>
    </div>


  </div>

</div>