<div class="overlay_info">

  <div class="container">
    <div class="row">
      <div class="overlay_close pull-right">X</div>
      <div class="col-sm-8 col-sm-offset-2 text-center" style="margin-top: 15%; font-size: 35px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid aspernatur consequatur dolorem dolorum ea esse, est eum harum ipsa ipsam ipsum laudantium minima nobis, officiis perferendis quasi, vero voluptatem!</div>

    </div>
  </div>


</div>

<div class="overlay_share">

  <div class="container">
    <div class="row">
      <div class="overlay_close pull-right">X</div>
      <ul class="share_links">
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
      </ul>
    </div>
  </div>


</div>
<div class="container-fluid portfolio_show">

  <div class="container">
     <%= render 'layouts/header'%>
  </div>

  <div class="row">
    <div class="container slides">
      <div><%= image_tag 'm2.jpg' %></div>
      <div><%= image_tag 'm9.jpg' %></div>
      <div><%= image_tag 'm4.jpg' %></div>
      <div><%= image_tag 'm5.jpg' %></div>

    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="col-sm-2"><span id="p_info">Project info</span></div>
      <div class="col-sm-2 col-sm-offset-8"><span class="pull-right" id="p_share">Share</span></div>
    </div>

  </div>



</div>

