<div class="container">

  <%= render 'layouts/header'%>

  <div class="row blogs">

    <div class="col-sm-12 blog_1">
      <div class="col-sm-8 col-sm-offset-2 ico"> <%= image_tag 'book.png'%> </div>

      <div class="col-sm-12 text-center">
        <h1>Reading for development</h1>
        <p>Posted on <span class="text-muted">21-02-2015 </span></p>
      </div>

      <div class="col-sm-8 col-sm-offset-2 text-center" style="margin-top: 3%">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum.
      </div>
      <div class="col-sm-2 col-sm-offset-5 text-center" style="margin-top: 4%">
        Continue Reading ...
      </div>

      <div class="col-sm-10 col-sm-offset-1 text-center" style="margin-top: 1%">
       <hr/>
      </div>

    </div>

    <div class="col-sm-12 blog_1">
      <div class="col-sm-8 col-sm-offset-2 ico"> <%= image_tag 'quote.png'%> </div>

      <div class="col-sm-12 text-center">
        <h1>Reading for development</h1>
        <p>Posted on <span class="text-muted">21-02-2015 </span></p>
      </div>

      <div class="col-sm-8 col-sm-offset-2 text-center" style="margin-top: 3%">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum.
      </div>
      <div class="col-sm-2 col-sm-offset-5 text-center" style="margin-top: 4%">
        Continue Reading ...
      </div>

      <div class="col-sm-10 col-sm-offset-1 text-center" style="margin-top: 1%">
        <hr/>
      </div>

    </div>

    <div class="col-sm-12 blog_1">
      <div class="col-sm-8 col-sm-offset-2 ico"> <%= image_tag 'book.png'%> </div>

      <div class="col-sm-12 text-center">
        <h1>Reading for development</h1>
        <p>Posted on <span class="text-muted">21-02-2015 </span></p>
      </div>

      <div class="col-sm-8 col-sm-offset-2 text-center" style="margin-top: 3%">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum.
      </div>
      <div class="col-sm-2 col-sm-offset-5 text-center" style="margin-top: 4%">
        Continue Reading ...
      </div>

      <div class="col-sm-10 col-sm-offset-1 text-center" style="margin-top: 1%">
        <hr/>
      </div>

    </div>

    <div class="col-sm-12 blog_1">
      <div class="col-sm-8 col-sm-offset-2 ico"> <%= image_tag 'quote.png'%> </div>

      <div class="col-sm-12 text-center">
        <h1>Reading for development</h1>
        <p>Posted on <span class="text-muted">21-02-2015 </span></p>
      </div>

      <div class="col-sm-8 col-sm-offset-2 text-center" style="margin-top: 3%">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum.
      </div>
      <div class="col-sm-2 col-sm-offset-5 text-center" style="margin-top: 4%">
        Continue Reading ...
      </div>

      <div class="col-sm-10 col-sm-offset-1 text-center" style="margin-top: 1%">
        <hr/>
      </div>

    </div>





  </div>

</div>